{% extends 'core/base.html' %}

{% block head_title %}Report {% endblock %}

{% block content %}
<div class="lg:w-11/12 pt-14 mx-auto">
    
{% if user.is_staff == true   %}
    <div class="absolute top-3 right-3">
        <a type="button" href="../../logout " id="testLogout"
            class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
            logout</a>
    </div>

<h1 class="font-mono  text-3xl text-center py-5 ">Your Current Balance is <strong> {{user.balance}} $$ </strong></h1>
<h1 class="font-mono  text-3xl  py-5 "><strong>  Transfers Date </strong></h1>

<template class="relative pb-10 overflow-x-auto shadow-md sm:rounded-lg pt-5">
    <v-simple-table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <template v-slot:default>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                                                            <th class="px-4 py-2">Sender Account</th>
                                                            <th scope="col" class="py-3 px-6">
                                                                Sender
                                                            </th>

                    <th class="px-4 py-2">Receiver Account</th>
                    <th scope="col" class="py-3 px-6">
                        Receiver
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Amount
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Status
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Date
                    </th>

                </tr>
            </thead>
            <tbody>
                {% for transfer in all_transfers %}
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <td class="p-4 w-4">
                                            <div class="flex items-center">
                                                <div class="text-base font-semibold">{{transfer.sender_account_no}}</div>
                                            </div>
                                        </td>
                                        <th scope="row" class=" py-4 px-6 text-gray-900 whitespace-nowrap dark:text-white">
                                            <div class="flex items-center">
                                                <div class="text-base font-semibold">{{transfer.sender}}</div>
                                            </div>
                                        </th>

                    <td class="p-4 w-4">
                        <div class="flex items-center">
                            <div class="text-base font-semibold">{{transfer.receiver_account_no}}</div>

                        </div>
                    </td>
                    <th scope="row" class=" py-4 px-6 text-gray-900 whitespace-nowrap dark:text-white">
                        <div class="flex items-center">
                            <div class="text-base font-semibold">{{transfer.receiver}}</div>
                        </div>
                    </th>
                    <td class="py-4 px-6">
                        {{transfer.amount}}$$
                    </td>
                    <td class="py-4 px-6">
                        <div class="flex items-center">
                            <div class="h-2.5 w-2.5 rounded-full bg-green-400 mr-2"></div> Successfully
                        </div>
                    </td>
                    <td class="py-4 px-6">
                        <p class="flex items-center">
                            {{transfer.timestamp}}
                        </p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </template>
    </v-simple-table>
</template>
<h1 class="font-mono  text-3xl  py-5 "><strong> Transactions Date </strong></h1>
<div class="py-5">
<template class="relative  overflow-x-auto shadow-md sm:rounded-lg pt-5 ">
    <v-simple-table class="w-full  text-sm text-left text-gray-500 dark:text-gray-400 ">
        <template v-slot:default>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Account
                    </th>

                    <th class="px-4 py-2">Amount</th>
                    <th scope="col" class="py-3 px-6">
                        Transactions Type
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Status
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Date
                    </th>

                </tr>
            </thead>
            <tbody>
                {% for transaction in all_transactions %}
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class=" py-4 px-6 text-gray-900 whitespace-nowrap dark:text-white">
                        <div class="flex items-center">
                            <div class="text-base font-semibold">{{transaction.account}}</div>
                        </div>
                    </th>

                    <td class="p-4 w-4">
                        <div class="flex items-center">
                            <div class="text-base font-semibold">{{transaction.amount}}$$</div>

                        </div>
                    </td>
                    <th scope="row" class=" py-4 px-6 text-gray-900 whitespace-nowrap dark:text-white">
                        <div class="flex items-center">
                            <div class="text-base font-semibold">

                                {% if transaction.transaction_type == 1 %}
 
                                Chase Out

                                {% elif transaction.transaction_type == 2 %}
                            Chase Out                 
                        {% endif %}

                            </div>
                        
                        </div>
                    </th>
                    <td class="py-4 px-6">
                        <div class="flex items-center">
                            <div class="h-2.5 w-2.5 rounded-full bg-green-400 mr-2"></div> Successfully
                        </div>
                    </td>
                    <td class="py-4 px-6">
                        <p class="flex items-center">
                            {{transaction.timestamp}}
                        </p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </template>
    </v-simple-table>
</template>
</div>
{% else %}
<div class="absolute top-3 right-3">
    <a type="button" href="{% url 'transaction:transactionForm'  %}"
        class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
        Add New Transfer</a>
</div>
<h1 class="font-mono  text-3xl text-center py-5 ">Your Current Balance is <strong> {{user.balance}} $$ </strong></h1>
<template class="relative overflow-x-auto shadow-md sm:rounded-lg pt-5">
    <v-simple-table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <template v-slot:default>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>

                    <th class="px-4 py-2">Receiver Account</th>
                    <th scope="col" class="py-3 px-6">
                        Receiver
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Amount
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Status
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Date
                    </th>

                </tr>
            </thead>
            <tbody>
                {% for transfer in transfers %}
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="p-4 w-4">
                        <div class="flex items-center">
                            <div class="text-base font-semibold">{{transfer.receiver_account_no}}</div>

                        </div>
                    </td>
                    <th scope="row" class=" py-4 px-6 text-gray-900 whitespace-nowrap dark:text-white">
                        <div class="flex items-center">
                            <div class="text-base font-semibold">{{transfer.receiver}}</div>
                        </div>
                    </th>
                    <td class="py-4 px-6">
                        {{transfer.amount}}$$
                    </td>
                    <td class="py-4 px-6">
                        <div class="flex items-center">
                            <div class="h-2.5 w-2.5 rounded-full bg-green-400 mr-2"></div> Successfully
                        </div>
                    </td>
                    <td class="py-4 px-6">
                        <p class="flex items-center">
                            {{transfer.timestamp}}
                        </p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </template>
    </v-simple-table>
</template>

{% endif  %}
</div>

{% endblock %}